*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    margin: 0 auto;
    max-width: 1920px;
    height: 1000px;
    font-size: 15pt;
    background-color: #FFFFFF;
}

#Grid-container
{
    /*background-color: #F5F5F5;*/
    border: 0.5em solid #707070; /*Deze uiteindelijk uit! = verwijderd dus!*/
    position: relative;
    padding: 0.66em; /*ruimte tussen de binnenkant van de border en de rest van de grid areas*/
    display: grid;
    grid-gap: 1em 0.2em;
    justify-content: center;
    grid-template-columns: 25% auto auto 25%;

              /*#kolom1      #kolom2        #kolom3        #kolom4*/

              /*'FirstheaderTag FirstheaderTag FirstheaderTag FirstheaderTag'
              'FirstheaderTag FirstheaderTag FirstheaderTag FirstheaderTag'
              'MainheaderTag  MainheaderTag  MainheaderTag  MainheaderTag'
              'MainsectionTag MainsectionTag MainsectionTag MainsectionTag'
              'MainarticleTag MainarticleTag MainarticleTag MainarticleTag'
              ''
              'section1Tag asideTag';*/

    /*height: 100%; is vier kolommen genoeg?*/
}

#First-header
{
    background-color: #AAAAAA;
    border: 0.2em solid #000000;
    border-radius: 1em 1em;
    text-align:center;
    text-shadow: 0.05em 0.15em 0.1em #707070;
    box-shadow: 0.05em 0.1em 0.3em #000000BF;
    position: relative; /*Volgens mij was dit al zo...*/
    /*padding-bottom: 0%;
    height: 200%; verwijderen?*/
    background-image: linear-gradient(to top, #707070, #F5F5F5);
    grid-area: 1 / 1 / span 1 / span 4;
}

@font-face
{
    font-family: 'YeonSung';
    src: url('../fonts/YeonSung-Regular.ttf') format('truetype');
}

#First-header > h1
{
    color: #000000;
    font-family: 'YeonSung', Berlin Sans FB, sans-serif; /*HIER een extern font voor gebruiken!*/
    font-size: 2.5em;
    font-weight: bold; /*Ik weet vrij zeker dat dit niets veranderd omdat dit al zo was...*/
}

#First-header > h2
{
    color: #000000;
    font-family: Arial, Berlin Sans FB, sans-serif;
    font-size: 1em;
}

#Navigation-bar
{
    background-color: #444444;
    border: 0.1em solid #000000;
    border-radius: 0 0 1em 1em;
    height: 2em;
    margin: 2% -0.2% -0.3% -0.2%;
    grid-area: 2 / 1 / span 1 / span 4;
}

ul
{
    margin-left: 36%;
    list-style-type: none;
}

.navlist
{
    margin-left: 2%;
    padding: 0.7%;
    float: left;
    color: #FFFFFF;
}

.navlist:hover
{
    background-color: #2699FB;
    color: #000000;
}

.headertekst
{
    color: #2699FB;
    font-family: Berlin Sans FB, Arial, sans-serif;
    font-size: 1.8em;
}

.Main
{
    background-color: #707070;
    border: 0.1em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
}

#Main-header
{
    color: #2699FB;
    font-family: Berlin Sans FB, Arial, sans-serif;
    font-size: 1.5em;
    padding-top: 0.4%;
    grid-area: 3 / 1 / span 5 / span 4;
}

#Main-section
{
    grid-area: 21 / 1 / span 1 / span 4;
}

#Main-article
{
    grid-area: 22 / 1 / span 1 / span 4;
}

#Main-footer
{
    grid-area: 24 / 1 / span 1 / span 4;
}

.Second
{
    background-color: #AAAAAA;
    border: 0.33em solid #000000;
    text-align: center;
}

#Secondary-header
{
    grid-area: 26 / 1 / span 1 / span 4;
}

#Secondary-section
{
    grid-area: 27 / 1 / span 1 / span 4;
}

#Secondary-article
{
    grid-area: 28 / 1 / span 1 / span 4;
}

#Secondary-footer
{
    grid-area: 30 / 1 / span 1 / span 4;
}

.Sport
{
    background-color: #707070;
    border: 0.33em solid #000000;
    text-align: center;
}

#Sport-header
{
    grid-area: 32 / 1 / span 1 / span 4;
}

#Sport-section
{
    grid-area: 33 / 1 / span 1 / span 4;
}

#Sport-article
{
    grid-area: 34 / 2 / span 3 / span 2;/*Deze splitten in een 1 en twee voor de twee plaatjes in 5 kolommen!*/
}

#Sport-articlespaceleft
{
    grid-area: 34 / 1 / span 3 / span 1;
}

#Sport-articlespacright
{
    grid-area: 34 / 4 / span 3 / span 1;
}

#Sport-footer
{
    grid-area: 37 / 1 / span 1 / span 4;
}

.sportclubcontainer
{
    /*dezelfde eigenschappen voor alle blokken met de 10 links naar sportclubs (in 5 rijen van 2 kolommen)
      waarbinnen straks een image en daaronder tekst komt te staan
      hierbinnen dus de width, height, border, border-radius (nog meeste vierkant) background-color,
      text-align, etc straks definiëren.*/
}

.Referral
{
    background-color: #444444;
    border: 0.33em solid #000000;
    text-align: center;
}

#Referral-header
{
    grid-area: 45 / 4 / span 1 / span 1;
}

#Referral-aside
{
    grid-area: 46 / 4 / span 1 / span 1;
}

#Referral-footer
{
    grid-area: 47 / 4 / span 1 / span 1;
}

#Contact-section
{
    background-color: #AAAAAA;
    border: 0.33em solid #000000;
    text-align: center;
    grid-area: 45 / 1 / span 3 / span 3;
}

#form-fieldset
{

}

#form-legend
{
    /*border: 0.05em solid #000000;*/
    /*border-width: 0.2em;
    border-style: groove;
    border-color: threedface;
    border-image: initial;*/
}

#Send-button
{

}

#Bericht-invoerveld
{
    margin-left: 5.5em;
}

#Last-footer
{
    background-color: #AAAAAA;
    border: 0.2em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
    padding-top: 0.6%;
    text-shadow: 0.05em 0.15em 0.1em #707070;
    box-shadow: 0.05em 0.1em 0.3em #000000BF;
    position: relative;
    font-family: Berlin Sans FB, Arial, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to top, #707070, #F5F5F5);
    grid-area: 50 / 1 / span 4 / span 4;
}

.knoppen
{
    background-color: #2699FB;
    border: 0.2em solid #2699FB;
    /*hier een standaard height, width (%) en border-radius voor knoppen in links naar sportclub
      websites, de verzendknop in het contactformulier, en de knop in de cookie-banner*/
}

.cookieknoppen
{
    margin-top: 1%;
    margin-left: 1%;
    background-color: #2699FB;
    border-radius: 1em 1em;
    color: #FFFFFF;
    padding: 1%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

#accepteerknop:hover
{
    background-color: #0DAF12;
}

#afwijsknop:hover
{
    background-color: #A3131A;
}

#hide-cookiebanner
{
    margin-top: -9.8%;
    margin-right: 6%;
    float: right;
    border-radius: 1em 1em;
    color: white;
    background-color: #2699FB;
    padding: 0.5%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

#hide-cookiebanner:focus + section#cookie-banner {
    display: none;
}

#cookie-banner
{
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #444444;
    z-index: 2;
    /*height: 8%;
    float: bottom;
    clear: both;*/
    /*display: block;*/
}

#cookie-banner > p
{
    /*width:20%;*/
    color: #F5F5F5;
    font-family: Arial,Berlin Sans FB,Verdana,sans-serif; /*font family with 2 or 3 fallback fonts?*/
    font-size: 0.9em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 30%;
    float: left;
    /*display: inline;*/
}

#cookie-banner:active
{
    display: none;
}

#backvideo
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#allcolors-and-fonts
{
    background-color: #000000;
    background-color: #444444;
    background-color: #707070;
    background-color: #AAAAAA;
    background-color: #F5F5F5;
    background-color: #FFFFFF;
    background-color: #2699FB;

    font-family: Arial;
    font-size: 80pt;
    font-size: 63pt;
    font-size: 35pt;
    font-size: 30pt;
    font-size: 25pt;
    font-size: 15pt;

    font-family: Berlin Sans FB;
    font-size: 80pt;

    /*Other properties that have to be used for sufficient or excellent grading*/

    /*A cookie statement/banner*/

    /*excellent in group one (design, code & semantic)*/
    /*float: (top, right, bottom, left, inherit, etc.);
      position: relative; absolute; fixed; (not static?)

      media queries (media query techniques for delivering a tailored stylesheet to different devices:
      @media (screen) and usage references:
      https://www.w3schools.com/css/css3_mediaqueries.asp
      https://www.w3schools.com/css/css3_mediaqueries_ex.asp
      https://www.w3schools.com/cssref/css3_pr_mediaquery.asp

      A horizontal menu with unordered list tags for PC and tablet layout

      A hamburger menu for mobile layout The menu has an overlay with a link to the other pages (in
      this case I'm assuming the other SECTIONS (#) of this one-pager?

      Uses a grid system (or flex box) or both techniques

      The website is fully responsive and acts differently on PC, mobile and tablet
       responsive:(see pptx from lecture 4 (from slide 9 onward)
       acts differently: (see pptx form lecture 6 (from slide 64 and before (a couple slides back)

    */

    /*sufficient in group two (media, colors & fonts)*/

    /*all colors, media styles, transformations & font styles have to be defined in the stylesheet

    the background video is centered, muted, starts automatically, and the controls are hidden

    Has at least 3 font sizes and "fallback" fonts and 7 hexadecimal colors

    All images used are either .png or .svg format

    I have to use the alt and title attributes in the right way on ALL pictures/images

    */

    /*excellent in group two*/

    /*has a favicon that supports different sizes for windows, Mac and IOS

      All images are using different resolution sizes on PC tablet and mobile
      depending on the screen resolution (PC = high, tablet = middle and mobile = low)
      Again, see pptx from lecture 6 on slide 64 and a bit before that

      Only uses em or % after the initial sizes are determined/set in the body initialisation

      The website name in the header is created using a local or external font (or by using a svg)

      */

    /*sufficient in group three (user and SEO support)*/

    /*has language support, the description, author and keywords defined as meta data
      has a utf-8 charset meta tag defined, the head and body are used in the right way
      is an html5 document and has the right .html and .css extensions and the html file is named index.html
      and tabs (waterval methode) is used to level the source code (inspringen van de code dus)

      has a header 1 and 2 to distinguish importance between these headers on my landing page
      has a DOM with 5 level elements (I guess, because a browser technically has it right?)
      has a reference to the sitemap.xml (yes in both my index.html and robots.txt file)
      has attribute description with a subject from the web page and between 7 and 12 keywords
      has html character entities like &copy; in the footer.
      has id's only used ones and has the HTML and CSS files validated by the respected w3c online validators
      has external font files in the /fonts folder, images in the /img, and the stylesheet in the /css folder (all lower case naming!)
      has comments in the CSS file (like this one) and in the html file (<!--- [comment] -->)

    */

    /*excellent in group three*/

    /*
      has a sitemap with a montly refresh (<changefreq>monthly</changefreq>)
      see https://www.sitemaps.org/protocol.html
      and http://www.advancedhtml.co.uk/robots-sitemaps.htm#sitemaplinking

      has User-agent * & Disallow: /forbidden/ in the robots.txt file (check)
      has a /forbidden folder with a secret.txt file with my student number in it (check)

      is using CSS combinators "selecting by" like:
      (semicolon? => ;), comma (,) smaller than (>), plus (+), or tilde (~)

      is using at least 2 pseudo-classes (see https://devoloper.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes )

      is using elements supported by HTML5

    */

}