*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    margin: 0 auto;
    max-width: 1920px;
    height: 1000px;
    font-size: 15pt;
    background-color: #FFFFFF;
}

.onzichtbaar
{
    display: none;
}

#backvideo
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#Grid-container
{
    position: relative;
    padding: 0.66em; /*ruimte tussen de binnenkant van de border en de rest van de grid areas*/
    display: grid;
    grid-gap: 1em 0.2em;
    justify-content: center;
    grid-template-columns: 25% auto auto 25%;

}

#First-header
{
    background-color: #AAAAAA;
    border: 0.2em solid #000000;
    border-radius: 1em 1em;
    text-align:center;
    text-shadow: 0.05em 0.15em 0.1em #707070;
    box-shadow: 0.05em 0.1em 0.3em #000000BF;
    position: relative; /*Volgens mij was dit al zo...*/
    background-image: linear-gradient(to top, #707070, #F5F5F5);
    grid-area: 1 / 1 / span 1 / span 4;
}

#headerimage
{
    width: 5em;
    margin-left: -19em;
    margin-top: 0.5%;
    position: absolute;
    border-radius: 1em 1em;
}

@font-face
{
    font-family: 'YeonSung';
    src: url('../fonts/YeonSung-Regular.ttf') format('truetype');
}

#First-header > h1
{
    color: #000000;
    font-family: 'YeonSung', 'Berlin Sans FB', sans-serif; /*hier is mijn externe font voor het eerst gebruikt*/
    font-size: 2.5em;
    font-weight: bold; /*Ik weet vrij zeker dat dit niets veranderd omdat dit al zo was...*/
}

#First-header > h2
{
    color: #000000;
    font-family: Arial, 'Berlin Sans FB', sans-serif;
    font-size: 1em;
}

#Navigation-bar
{
    background-color: #444444;
    border: 0.1em solid #000000;
    border-radius: 0 0 1em 1em;
    height: 2em;
    margin: 2% -0.2% -0.3% -0.2%;
    grid-area: 2 / 1 / span 1 / span 4;
}

#Navigation-bar > ul
{
    margin-left: 29%;
    list-style-type: none;
}

.navlist
{
    margin-left: 2%;
    padding: 0.7%;
    float: left;
    color: #FFFFFF;
    text-decoration: none;
}

.navlist:hover
{
    background-color: #2699FB;
    color: #000000;
}

.anavlist
{
    color: #FFFFFF;
    text-decoration: none;
}

.anavlist:hover
{
    color: #000000;
}

.headertekst
{
    color: #2699FB;
    font-family: 'Berlin Sans FB', Arial, sans-serif;
    font-size: 1.8em;
    -webkit-text-stroke: 0.05em #000000;
    text-align: center;
}

.Main
{
    background-color: #707070;
    border: 0.1em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
}

#Main-header
{
    background-image: linear-gradient(to top, #707070, #AAAAAA);
    font-family: 'Berlin Sans FB', Arial, sans-serif;
    font-size: 1.5em;
    padding-top: 0.4%;
    grid-area: 3 / 1 / span 5 / span 4;
}

#Main-section
{
    border-radius: 1em 1em;
    text-align: center;
    grid-area: 9 / 1 / span 10 / span 4;
}

.Mainimages
{
    border-radius: 1em 1em;
}

#Mainimageleft
{
    width: 25em;
    margin-left: -34em;
}

#Mainimageright
{
    width: 23em;
    margin-left: 7em;
    margin-right: -33em;
    margin-top: 0.5%;
}

#Main-article
{
    color: #FFFFFF;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Arial, sans-serif, 'Berlin Sans FB';
    grid-area: 19 / 1 / span 1 / span 4;
}

#par2
{
    margin-top: 2%;
    margin-bottom: 1%;
}

#Main-footer
{
    border-radius: 1em 1em;
    text-align: center;
    grid-area: 20 / 1 / span 2 / span 4;
}

.Second
{
    background-color: #AAAAAA;
    border: 0.15em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
}

#Secondary-header
{
    background-image: linear-gradient(to top, #AAAAAA, #F5F5F5);
    grid-area: 22 / 1 / span 5 / span 4;
}

#secheadp
{
    font-size: 2.5em;
    padding-top: 0.2em;
}

#Secondary-section
{
    border-radius: 1em 1em;
    text-align: center;
    grid-area: 28 / 1 / span 1 / span 4;
}

.Secimages
{
    border-radius: 1em 1em;
}

#Secimageleft
{
    width: 24.2em;
    margin-left: -34em;
}

#Secimageright
{
    width: 24em;
    margin-left: 7em;
    margin-right: -33em;
    margin-top: 0.5%;
}

#Secondary-article
{
    color: #F5F5F5;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Arial, sans-serif, 'Berlin Sans FB';
    grid-area: 30 / 1 / span 1 / span 4;
}

#Secondary-article > p
{
    margin-bottom: 2%;
}

#Secondary-footer
{
    grid-area: 31 / 1 / span 2 / span 4;
}

.Sport
{
    background-color: #707070;
    border: 0.15em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
}

#Sport-header
{
    background-image: linear-gradient(to top, #707070, #AAAAAA);
    grid-area: 33 / 1 / span 5 / span 4;
}

#sportheadp
{
    font-size: 2.5em;
    padding-top: 0.2em;
}

#Sport-section
{
    color: #FFFFFF;
    padding: 0.5em 2em;
    font-family: sans-serif, Arial, 'Berlin Sans FB';
    grid-area: 39 / 1 / span 1 / span 4;
}

#Sport-article
{
    border-radius: 1em 1em;
    text-align: center;
    grid-area: 40 / 2 / span 3 / span 2;/*Deze splitten in een 1 en twee voor de twee plaatjes in 5 kolommen!*/
}

.Sportarticlelistspace
{
    width: 50%;
    text-align: left;
    position: relative;
}

#Sport-articlespaceleft
{
    float: left;
}

#Sport-articlespaceright
{
    float: right;
}

.sportclubcontainer
{
    border: 0.1em solid #000000;
    border-radius: 1em 1em;
    background-image: linear-gradient(to bottom, #2699FB, #0F54AB);
    width: 80%;
    height: 18em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0.3em;
    text-align: center;
    /*position: absolute; dit wellicht voor aparte plaatjes die hieronder moeten komen?*/
}

.sportclubcontainer > .clubtekst
{
    font-family: Arial, sans-serif, 'Berlin Sans FB';
    font-size: 0.8em;
    color: #F5F5F5;
    padding: 0.5em; /*eerst all around, daarna alleen left right en bottom?*/
}

#clubreferallink
{
    text-decoration: none;
    font-weight: bold;
    color: #F5F5F5;
}

#clubreferallink:hover
{
    color: #2699FB;
}

#clubreferallink:active
{
    color: #A3131A;
}

.sportname
{
    font-family: 'YeonSung', 'Berlin Sans FB', sans-serif;
    font-weight: bold;
}

.sportimages
{
    width: 9em;
    height: 8em;
    margin-top: 0.5em;
    border-radius: 1em 1em;
}

#Sport-footer
{
    grid-area: 43 / 1 / span 2 / span 4;
}

.Referral
{
    background-color: #444444;
    border: 0.15em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
    font-family: 'Berlin Sans FB', Arial, sans-serif;
}

#Referral-header
{
    background-image: linear-gradient(to top, #707070, #AAAAAA);
    grid-area: 45 / 4 / span 3 / span 1;
}

#refheadp
{
    font-size: 2.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#Referral-aside
{
    grid-area: 48 / 4 / span 11 / span 1;
}

#refasidep
{
    color: #FFFFFF;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

#socialp
{
    color: #000000;

}

#refasidep:hover
{
    color: #2699FB;
}

#refasidep:active
{
    color: #A3131A;
}


#socialmedialinks
{
    width: 25%;
    margin-left: 40%;
}

.socialicons
{
    width: 3em;
    height: 3em;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    border: 0.05em solid #000000;
    border-radius: 1.5em 1.5em;
}

#appiconcolor
{
    background-color: #5BC952;
}

#appiconcolor:hover
{
    background-color: #006400;
    cursor: pointer;
}

#whatsappicon
{
    margin-left: 0.07em;
    margin-top: 0.1em;
    width: 1em;
    font-size: 2.2em;
    color: #FFFFFF;
    fill: currentColor;
}

#bookiconcolor
{
    background-color: #4867AA;
}

#bookiconcolor:hover
{
    background-color: #0F2C6B;
    cursor: pointer;
}

#facebookicon
{
    margin-top: 0.2em;
    width: 1em;
    font-size: 1.5em;
}

#twittercolor
{
    background-color: #00A7E6;
}

#twittercolor:hover
{
    background-color: #082EEA;
    cursor: pointer;
}

#twittericon
{
    margin-top: 0.25em;
    margin-left: 0.05em;
    width: 1em;
    font-size: 2em;
}

#gramcolor
{
    background-color: #DC153D;
}

#gramcolor:hover
{
    background-color: #730A1F;
    cursor: pointer;
}

#instagramicon
{
    margin-top: 0.20em;
    margin-left: 0.05em;
    width: 1em;
    font-size: 2em;
}

#Referral-footer
{
    grid-area: 59 / 4 / span 1 / span 1;
}

#Contact-section
{
    background-color: #AAAAAA;
    height: 22em;
    border: 0.15em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
    grid-area: 45 / 1 / span 15 / span 3;
}

.formtekst
{
    margin-top: 0.5em;
    font-family: Arial, sans-serif, 'Berlin Sans FB';
    color: #FFFFFF;
}

#contactp
{
    font-size: 2.2em;
}

#contactp2
{
    color: #000000;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.inputtypes
{
    margin-top: 0.5em;
    width: 16em;
    height: 2em;
    padding: 0.5em;
    border-radius: 1em 1em;
    font-family: 'Berlin Sans FB', Arial, sans-serif;
}

#Bericht-invoerveld
{
    width: 32em;
    height: 6em;
}

#Send-button
{
    margin-top: 0.1%;
    margin-left: 32%;
    position: absolute;
    display: block;
    border-radius: 1em 1em;
    color: #FFFFFF;
    background-color: #2699FB;
    padding: 0.8%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

#Send-button:hover
{
    background-color: #0DAF12;
}

#Last-footer
{
    background-color: #AAAAAA;
    border: 0.2em solid #000000;
    border-radius: 1em 1em;
    text-align: center;
    padding-top: 0.6%;
    text-shadow: 0.05em 0.15em 0.1em #707070;
    box-shadow: 0.05em 0.1em 0.3em #000000BF;
    position: relative;
    font-family: 'Berlin Sans FB', Arial, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to top, #707070, #F5F5F5);
    grid-area: 61 / 1 / span 4 / span 4;
}

.cookieknoppen
{
    margin-top: 1%;
    margin-left: 1%;
    background-color: #2699FB;
    border-radius: 1em 1em;
    color: #FFFFFF;
    padding: 1%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

#accepteerknop:hover
{
    background-color: #0DAF12;
}

#afwijsknop:hover
{
    background-color: #A3131A;
}

#hide-cookiebanner
{
    margin-top: -9.8%;
    margin-right: 6%;
    float: right;
    border-radius: 1em 1em;
    color: #FFFFFF;
    background-color: #2699FB;
    padding: 0.5%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

#hide-cookiebanner:focus + section#cookie-banner {
    display: none;
}

#cookie-banner
{
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #444444;
    z-index: 2;
}

#cookie-banner > p
{
    color: #F5F5F5;
    font-family: Arial, 'Berlin Sans FB', sans-serif;
    font-size: 0.9em;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 12%;
    float: left;
}

#cookie-banner:active
{
    display: none;
}
